<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataMapConfig" type="ObjectQL.Data.DataMapConfig, ObjectQL"/>
 </configSections>
  <connectionStrings>
   <add connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=objectql;Password=objectql;"
      name="BaseConnectString" providerName="Oracle"/>
  </connectionStrings>
  <dataMapConfig>
    <containers>
      <mapContainer connectionKey="BaseConnectString">
        <mapSettings>
          <register name="ObjectQL.DataExtTests.MapRegister, UnitTest.Domain"></register>
        </mapSettings>
      </mapContainer>    
    </containers>
  </dataMapConfig> 
</configuration>